<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/0fa94578a2.js" crossorigin="anonymous"></script>
    <title>Password Reset</title>
</head>
<body>
    <section class="fixed top-0 w-screen p-3">
        <a href="/"><img src="/images/logo2.png" class="w-36 bg-white p-2 rounded"></a>
    </section>

    <div class="w-screen h-screen bg-[url('/images/covenant-university.webp')] bg-center bg-cover bg-no-repeat">
        <div class="w-full h-full bg-black/70 flex flex-col items-center justify-center">
            <h1 class="text-3xl text-white uppercase font-bold tracking-wider my-5">Reset Password</h1>
            <form action="/users/reset-password-request" method="post" class="w-1/4 bg-white p-5 rounded-lg">
                <div class="my-4">
                    <label class="block mb-3" for="email"><i class="fa-regular fa-envelope text-gray-300 pe-3"></i>Email</label>
                    <input type="email" id="email" name="email" required class="px-3 py-2 border-b-2 w-full mb-3 outline-none" />
                </div>
                <input type="submit" value="Reset Password" class="block m-auto mb-4 py-1.5 px-6 rounded-2xl bg-black text-white bg-gradient-to-r from-purple-500 to-pink-500 uppercase text-md font-bold tracking-widest outline-none" />
            </form>
        </div>
    </div>
      
</body>
</html>